alembic==1.14.0
asyncpg==0.30.0
backports.tarfile==1.2.0
email-validator==2.2.0
fastapi-utils==0.8.0
importlib-metadata==8.0.0
jaraco.collections==5.1.0
packaging==24.2
passlib==1.7.4
pip-chill==1.0.3
platformdirs==4.2.2
pydantic-settings==2.7.1
python-jose==3.3.0
python-json-logger==3.2.1
python-multipart==0.0.20
tomli==2.0.1
uvicorn==0.34.0
